body{
	font-family: Verdana;
	color:#424242;
	margin:0px;
}

header{
	background-color: #242424;
	color:white;
	padding: 10px;
}

header .title{
	display:inline-block;
	float: right;
	font-size: 1.5em;
}

header p{
	color:lightgray;
	display: inline;
}

.titlePrimary {
	color:white;
}

.titleSecondary{
	color:skyblue;
}

.eelogo{

}

.content{
	margin: 10px;
}

.categories{
	padding: 10px;
	background-color: darkorange;
	display:inline-block;
	border-radius: 10px;
}

.categories a{
	color:white;
}

ul{
	list-style: none;
	padding: 0px;
}

li {
	list-style: none;
		
}

.categoryList li{
	margin: 2px;
	background-color : rgba(20,200,250,.3);
	padding: 10px;
	
}

.categoryList li:hover{
	background-color : rgba(100,100,100,.4);
	color:#ffffff;
}

a{
	text-decoration: none;
	color:black;
}

.listingsGrid li{
	display: inline-block;
	margin: 10px;
	background : linear-gradient(lightgray,transparent);
	width: 250px;
	height: 100px;
	vertical-align: text-top;
	border-radius: 0 0 10px 10px;
}

.listingsGrid .title{
	background-color: rgba(50,50,50,.8);
	color: white;
	padding: 10px;
	border-radius: 5px 5px 0 0;
}

.listingsGrid .city{
	color : black;
	font-size: .9em;
	padding: 10px;
}

.listingsGrid .rating{
	background: orange;
	font-size: .8em;
	color: white;
	position: relative;
	float: right;
	padding: 10px;
	width: 20px;
	text-align: center;
	box-shadow: 0px 3px 4px gray;
}

.review{
	background: linear-gradient(rgba(100,200,200,.2),transparent);
	padding: 10px;
	border-radius: 10px;
	font-size: .8em;
}

.reviewTitle{
	color: black;
	font-size: 1.2em;
	background: skyblue;
	padding: 5px 10px;
	border-radius: 5px 0 0 5px;
}

.review .content{

}

.review .postDate{
	float: right;
	padding: 5px;
}

.review .reviewRating{
	float: right;
	display: inline-block;
	background: yellow;
	padding: 10px;
	box-shadow: gray 0px 2px 0px 0px;
	width: 16px;
	height: 16px;
	text-align: center;
}

.listingDetails .title{

}

.listingDetails .ratings{
	display: inline-block;
	margin: 10px;
	color: black;
	background: yellow;
	width: 24px;
	text-align: center;
	padding: 5px;
	border-radius: 5px;
}

.listingDetails .category{
	background: orange;
	color: white;
	display: inline-block;
	padding: 5px;
	border-radius: 5px;
}

.listingDetails .location{
	display: inline-block;
	margin: 5px;
	background: lightgoldenrodyellow;
	padding: 5px;
	border-radius: 5px;
}

.description{
	font-size: .9em;
	margin: 10px;
}

.listingDetails li{
	margin: 10px;
}

.menu{
	text-align: right;
	font-size: .8em;
	margin-top:-50px;
}

.menu div{
	display: inline-block;
	margin: 5px;
}

.previous, .next{
	padding: 5px;
	background-color: gray;
	border-radius: 5px;
	color:skyblue;
	width:20px;
	text-align: center;
}

.previous a, .next a{
	color:white;
	font-weight: bold;
}

.a_to_z, .popular{
	padding: 5px;
	border-radius: 5px;
	display: inline-block;
	margin: 5px;
	background-color: gray;
}

.a_to_z a, .popular a{
	color:white;
}

.active{
	display: none;
}

