doctype 5
html
	head
		title= title
		link(rel='stylesheet', href='/style/main.css')
	body
		header
			img.eelogo(src='/img/eelogo.png')
			div.title
				p.titlePrimary= "Exper"
				p.titleSecondary= "Talks"
				p= " November 2013"
		div.content
			block content